<div class="content_html">
    <div class="t1">Les Layouts ExtJS</div>
    <div class="t2"></div>
	<br>

    <div class="text_into">
    	bla bla layouts
		<div class="bullet_paraph">

		</div>
    </div>
    <br />
    <br />
    
    <div class="box_content border">
            <div class="t3"><span class="surligne">Viewport</span></div><br>
            <ul class="html_list"><li></li></ul>
            <ul class="html_list"><li></li></ul>
            <ul class="html_list"><li></li></ul>
			<br />
    </div>
    <br />
       
     <div class="box_content border">
          	<div class="t3"><span class="surligne">Colonnes</span></div><br>
			<ul class="html_list"><li></li></ul>
			<br />
    </div
	<br />

    <div class="box_content border">
          	<div class="t3"><span class="surligne">Border</span></div><br>
          	<ul class="html_list"><li></li></ul>
			<br />
    </div>
	<br>
	
    <div class="box_content border">
          	<div class="t3"><span class="surligne">Vbox & Hbox</span></div><br>
          	<ul class="html_list"><li></li></ul>
			<br />
    </div>
	<br>
	
    <div class="box_content border">
          	<div class="t3"><span class="surligne">Nested layouts</span></div><br>
          	<ul class="html_list"><li></li></ul>
			<br />
    </div>
	<br>
	
			
</div>